<div class="center hero-unit">
  <h1>Mobile Cloud Service</h1>
	<!-- <%= image_tag("iphone.png", :width=> 200) %>
	<%= image_tag("iphone5e.png", :align=> "right", :width=> 420) %> -->
	<%= image_tag("home.png") %>
  <h2>
    Increase the productivity of your distributed workforce.
  </h2>
  New User ? <%= link_to "Sign Up now!", signup_path, class: "btn btn-large btn-primary" %> | Or use 
  <%= link_to "Facebook", "/auth/facebook", id: "sign_in", class: "btn btn-large btn-primary" %> to Signin Directly
</div>
