<h1>Editing user</h1>
<div class="container">
  <div class="span6 offset6">
    <%= form_for(@user) do |f| %>
        <%= render 'fields', f: f %>
        <%= f.submit "Save Changes", class: "btn btn-large btn-success" %> |
        <%= link_to 'Show', @user, class: "btn btn-large btn-primary" %> |
        <%= link_to 'Back', users_path, class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>