<h1>Configure
  <span class="icon-user"></span><span class="icon-user"></span><span class="icon-user"></span><span class="icon-list"></span>
</h1>

<table class="table table-hover table-striped table-responsive">
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>Email</th>
      <th>Phone</th>
      <th>City</th>
      <!--<th>Show</th>-->
      <!--<th>Edit</th>-->
      <!--<th>Delete</th>-->
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="warning">
        <td><%= user.firstName %></td>
        <td><%= user.lastName %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.city %></td>
        <!--<td><%= link_to '', user, class: "icon-eye-open"%></td>-->
        <!--<td><%= link_to '', edit_user_path(user), class: "icon-edit"%></td>-->
        <!--<td><%= link_to '', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "icon-trash"%></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<div class="center">
<p><span class="badge">ADD A NEW STAFF</span> member to your group <%= link_to 'Add New Staff', new_user_path, class: "btn btn-lg btn-primary"%> </p>
<br>
<p><span class="badge">ASSIGN A NEW TASK</span> to a staff member&nbsp;&nbsp;&nbsp;<%= link_to 'Add New Dyno', dynos_path, class: "btn btn-lg btn-primary"%> </p>
</div>