<p id="notice"><%= notice %></p>


<div class="container">
  <div class="panel panel-info col-lg-offset-5 col-lg-2">
    <div class="panel-heading"><h1>Profile</h1></div>
    <div class="panel-body">
    <p>First name:
      <%= @user.firstName %></p>
    <p>Last name:
      <%= @user.lastName %></p>
    <p>Email:
      <%= @user.email %></p>
    <p>Phone:
      <%= @user.phone %></p>
    <p>City:
      <%= @user.city %></p>
    </div>
  </div>
</div>
<div class="well center">
  <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-lg btn-primary" %> |
  <%= link_to 'Users', users_path, class: "btn btn-lg btn-primary" %>
</div>
