<p id="notice"><%= notice %></p>
<h1>Profile</h1>

<div class="container">
  <div class="span6 offset7">
<p>First name:
  <%= @user.fname %></p> </br>
<p>Last name:
  <%= @user.lname %></p> </br>
<p>Email:
  <%= @user.email %></p> </br>
<p>Phone:
  <%= @user.phone %></p> </br>
<p>City:
  <%= @user.city %></p> </br>

<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-lg btn-primary"%> |
<%= link_to 'Back', users_path, class: "btn btn-lg btn-primary"%>
  </div>
</div>
