<% provide(:title, 'Add Dyno') %>
<h1>Choose from the following fields to add to your Dyno</h1>
<div id="error" hidden="hidden"></div>

<div class="container center">
  <div class="col-md-offset-2">

    <div class="col-md-2 panel panel-default" style="background-color: #CCCCCC">
      <h1 class="text-info">TextBox</h1>
      <label>Text Box Name </label> <input type="text" id="ip1" value=""> <br>Eg: Customer Name
      <button type="button" class="btn btn-info btn-lg btn-block" id="textbox" onclick="addTextBox()">Add</button><br>
    </div>

    <div class="col-md-2 panel panel-default" style="background-color: #DDDDDD">
      <h1 class="text-success">Dropdown</h1>
      <label>Drop Down Name </label> <input type="text"> <br>Eg: Status
      <button type="button" class="btn btn-success btn-lg btn-block" id="dropdown" onclick="addComboBox()">Add</button><br>
    </div>

    <div class="col-md-2 panel panel-default" style="background-color: #CCCCCC">
      <h1 class="text-info">Upload</h1>
      <label>File Upload Name </label> <input type="text"> <br>Eg: Profile Picture
      <button type="button" class="btn btn-info btn-lg btn-block" id="photoupload">Add</button><br>
    </div>

    <div class="col-md-2 panel panel-default" style="background-color: #DDDDDD">
      <h1 class="text-success">Payment</h1>
      <label>Payment Field Name </label> <input type="text"> <br>Eg: Pay
      <button type="button" class="btn btn-success btn-lg btn-block" id="payment">Add</button><br>
    </div>

    <div class="col-md-2 panel panel-default" style="background-color: #CCCCCC">
      <h1 class="text-info">Date</h1>
      <label>Date Field Name </label> <input type="text"> <br>Eg: Work Start Date
      <button type="button" class="btn btn-info btn-lg btn-block" id="date">Add</button><br>
    </div>

  </div>
</div>


<div id="addtoContainer" class="container center">
  <h1>Your Dyno</h1>
  <%= image_tag('ipad.png', :class => 'formFields') %>
</div>


<div class="center">
  <%= form_for TaskField.new do |f| %>
      <!-- <%= render 'taskfields', f: f %> -->
      <div class="panel panel-default" hidden="hidden" id="savepanel">
        <%= f.submit "Save Dyno", class: "btn btn-lg btn-primary" %>
        <%= link_to "Cancel", task_fields_path, class: "btn btn-lg btn-primary" %>
      </div>
  <% end %>
</div>